.page-header {
  position: relative;
  background-color: $half_Baked;
  color: $classic_white;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  margin: 0 auto;
  z-index: 2;

  &.active {
    & .page-header {
      &__menu {
        height: 223px;

        @media (min-width: $tablet-width) {
          height: auto;
        }
      }

      &__close-button {
        display: block;
        pointer-events: painted;
      }

      &__toggle {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }

  &__close-button {
    display: none;
    pointer-events: none;
    position: absolute;
    top: 16px;
    right: 26px;
    font-size: 0;
    line-height: 0px;
    width: 22px;
    height: 22px;
    outline: none;
    border-style: none;
    background-color: inherit;
    z-index: 1;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__menu {
    transition: height 0.5s ease;
    height: 0;
    overflow: hidden;
    flex-direction: column;
    position: relative;

    @media (min-width: $tablet-width) {
      height: auto;
      display: flex;
      flex-direction: row;
      background-color: $classic_white;
      color: $classic_black;
    }
  }

  &__logo {
    font-size: 0;
    line-height: 0px;
    position: absolute;
    left: 50%;
    bottom: -27px;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      bottom: auto;
      top: 0;
    }
  }

  &__toggle {
    position: absolute;
    right: 19px;
    bottom: 18px;
    font-size: 0;
    outline: none;
    border-style: none;
    background-color: inherit;
    width: 30px;
    height: 22px;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__inner {
    background-color: $classic_white;
    display: flex;
    flex-direction: column;
    height: 56px;

    @media (min-width: $tablet-width) {
      height: 0;
    }
  }

  &__link {
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    padding: 7px 0;

    &:hover {
      background-color: $blue_button_hover;

      @media (min-width: $tablet-width) {
        background-color: transparent;
        color: $half_Baked;
      }
    }

    &:focus {
      background-color: $blue_button_hover;

      @media (min-width: $tablet-width) {
        background-color: transparent;
        color: $half_Baked;
      }
    }

    &:active {
      background-color: $blue_button_active;
      color: rgba(255, 255, 255, 0.3);

      @media (min-width: $tablet-width) {
        background-color: transparent;
        opacity: 0.3;
        color: $classic_black;
      }
    }

    &:last-child {
      @media (max-width: $mobile-width-only) {
        box-shadow: inset -2px -10px 16px -10px $classic_black;
        padding-bottom: 6px;
      }
    }

    @media (max-width: $mobile-width-only) {
      border-top: 1px solid rgba(1, 1, 1, 0.2);
      margin-top: 1px;
      box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    }

    @media (min-width: $tablet-width) {
      font-size: 14px;
      line-height: 26px;
      padding: 15px 0;
      border-style: none;
    }

    &--without-p {
      padding: 0;

      @media (max-width: $mobile-width-only) {
        display: none;
      }
    }

    &--main-link {
      @media (min-width: $tablet-width) {
        margin-left: 49px;
      }

      @media (min-width: $desktop-width) {
        margin-left: 92px;
      }
    }

    &--photo-link {
      @media (min-width: $tablet-width) {
        margin-left: 77px;
      }

      @media (min-width: $desktop-width) {
        margin-left: 162px;
      }
    }

    &--form-link {
      @media (min-width: $tablet-width) {
        margin-left: 210px;
      }

      @media (min-width: $desktop-width) {
        margin-left: 383px;
      }
    }

    &--html-link {
      @media (min-width: $tablet-width) {
        margin-left: 51px;
      }

      @media (min-width: $desktop-width) {
        margin-left: 139px;
      }
    }
  }
}
