.popup {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: $classic_white;

  &__failure {
    width: 320px;
    font-size: 18px;
    line-height: 26px;
    padding: 40px 0;
    box-shadow: 0 16px 17px -13px $classic_black;
    display: none;

    @media (min-width: $tablet-width) {
      width: 400px;
    }
  }

  &__success {
    width: 320px;
    padding-top: 40px;
    box-shadow: 0 16px 17px -13px $classic_black;
    display: none;

    @media (min-width: $tablet-width) {
      width: 640px;
    }
  }

  &__title {
    margin: 0 auto;
    width: 224px;
    font-size: 18px;
    margin-left: 64px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 40px;
      width: 210px;
      text-align: center;
      margin-left: 94px;
    }

    &--success {
      margin-left: 58px;

      @media (min-width: $tablet-width) {
        margin-left: 94px;
        width: 451px;
      }
    }
  }

  &__subtitle {
    margin: 0 auto;
    font-size: 14px;
    margin-left: 52px;
    width: 216px;
    text-align: center;
    margin-top: 25px;
    line-height: 24px;

    @media (min-width: $tablet-width) {
      margin-top: 23px;
      width: 296px;
    }

    &--success {
      margin-top: 26px;
      margin-bottom: 41px;

      @media (min-width: $tablet-width) {
        width: 534px;
        margin-bottom: 47px;
      }
    }
  }

  &__inner {
    background-color: $concrete;
    padding: 20px 0;

    @media (min-width: $tablet-width) {
      padding: 44px 0;
    }
  }

  &__button {
    width: 180px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 26px;
    margin-top: 35px;
    margin-left: 70px;
    padding: 16px 0;

    @media (min-width: $tablet-width) {
      margin-top: 26px;
      margin-left: 64px;
      width: 272px;
      font-size: 21px;
    }

    &--success {
      margin-top: 0;
      margin-left: 21px;
      width: 280px;

      @media (min-width: $tablet-width) {
        width: 458px;
        margin-left: 91px;
      }
    }
  }
}
