.advantages {
  display: flex;
  flex-direction: column;

  &__list {
    list-style: none;
    padding: 0;
  }

  &__description {

    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 37px;

    @media (min-width: $tablet-width) {
      max-width: 256px;
    }

    img {
      flex-grow: 1;
    }

    &--first {
      @media (max-width: $mobile-width-only) {
        background-image: url("../img/white-copy.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        padding-top: 72px;
        padding-bottom: 40px;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $Gallery;
    padding-top: 27px;
    padding-bottom: 26px;


    @media (min-width: $tablet-width) {
      flex-direction: row;
    }
  }
}
