.advantages-inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    margin: 0;

    @media (min-width: $tablet-width) {
      font-size: 21px;
    }
  }

  &__number {
    position: relative;
    font-size: 14px;
    line-height: 21px;

    &::before {
      content: "";
      width: 10px;
      height: 1px;
      position: absolute;
      top: 65%;
      left: -12px;
      background-color: $classic_white;
    }

    &::after {
      content: "";
      width: 10px;
      height: 1px;
      position: absolute;
      top: 65%;
      background-color: $classic_white;
    }

    &--black {
      &::before {
        content: "";
        width: 10px;
        height: 1px;
        position: absolute;
        top: 65%;
        left: -12px;
        background-color: $classic_black;
      }

      &::after {
        content: "";
        width: 10px;
        height: 1px;
        position: absolute;
        top: 65%;
        background-color: $classic_black;
      }
    }

    @media (max-width: $mobile-width-only) {
      padding-top: 10px;
    }
  }

  &__description {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: $Mine_Shaft;
    text-align: center;
    margin: 0;
    max-width: 300px;
    padding-top: 16px;

    &--white-text {
      color: $classic_white;
      padding-top: 15px;
    }
  }

  &--bg-blue {
    background-color: $Half_Baked;
    color: $classic_white;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
    }
  }

  @media (min-width: $tablet-width) {
    &--img-left {
      order: -1;
    }
  }

  img {
    flex-grow: 1;
  }

  &__road {
    padding-top: 52px;
    max-width: 205px;
  }

  &__square {
    max-width: 260px;
  }

  &__tourists {
    padding-top: 53px;
    max-width: 250px;
  }

  &__road,
  &__tourists {
    position: relative;

    &::before {
      content: "";
      width: 277px;
      height: 1px;
      position: absolute;
      top: 15%;
      background-color: $alto;
    }
  }
}
