.page-main {
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    content: "";
    width: 100%;
    height: 387px;
    background-image: url("../img/Intro-index-mobile.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
}
