.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
  }

  &__link {
    font-size: 0;
  }
}
