.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
  }

  &__link {
    font-size: 0;

    &:hover {
      color: $half_Baked;
    }

    &:active {
      color: $classic_black;
      opacity: 0.3;
    }
  }
}
