.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  background-color: $classic_white;
  box-shadow: -1px -14px 18px -9px $classic_black;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-around;
  }

  &__hashtag {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    padding-top: 39px;

    @media (min-width: $tablet-width) {
      padding-left: 4px;
    }
  }

  &__copyright {
    padding-top: 40px;
    width: 128px;

    @media (min-width: $tablet-width) {
      margin-right: 5px;
      padding-top: 33px;
    }
  }

  &__padding-b {
    padding-bottom: 22px;

    @media (min-width: $tablet-width) {
      padding-bottom: 47px;
    }
  }
}
