.social {
  display: flex;

  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 33px;

    @media (min-width: $tablet-width) {
      padding-top: 32px;
      margin-right: 8px;
    }
  }

  &__link {
    margin: 0 3px;

    &--twitter {
      font-size: 0;
      display: block;
      background-image: url("../img/icon-twitter.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-color: $half_Baked;
      width: 46px;
      height: 48px;

      &:hover,
      &:focus {
        background-color: $blue_button_hover;
      }

      &:active {
        background-image: url("../img/twitter-active.svg");
        width: 46px;
        height: 48px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $blue_button_active;
      }
    }

    &--facebook {
      font-size: 0;
      display: block;
      background-image: url("../img/icon-facebook.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-color: $half_Baked;
      width: 47px;
      height: 48px;

      &:hover,
      &:focus {
        background-color: $blue_button_hover;
      }

      &:active {
        background-image: url("../img/facebook-active.svg");
        width: 47px;
        height: 48px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $blue_button_active;
      }
    }

    &--youtube {
      font-size: 0;
      display: block;
      background-image: url("../img/icon-youtube.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-color: $half_Baked;
      width: 46px;
      height: 48px;

      &:hover,
      &:focus {
        background-color: $blue_button_hover;
      }

      &:active {
        background-image: url("../img/youtube-active.svg");
        width: 46px;
        height: 48px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $blue_button_active;
      }
    }
  }
}
