.filter-form {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "fe fn"
      "fc fc"
      "fa fa"
      "fem fem"
      "fbtn .";
  }

  &__button {
    margin-top: 51px;
    text-transform: uppercase;
    padding-top: 18px;
    padding-bottom: 14px;
    margin-left: -1px;
    padding-right: 9px;
    margin-bottom: 38px;

    @media (min-width: $tablet-width) {
      grid-area: fbtn;
      height: 58px;
      width: 324px;
      margin-left: 9px;
      padding-right: 4px;
      margin-bottom: 65px;
      margin-top: 65px;
    }

    @media (min-width: $desktop-width) {
      width: 480px;
      margin-left: 0;
    }
  }

  &__required-fields {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      text-align: right;
      font-size: 14px;
      line-height: 26px;
      margin-top: 84px;
      margin-right: 10px;
    }
  }
}
