
.form-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-area: fn;
    align-items: stretch;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $mercury;
    top: 15px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__title {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    margin-top: 36px;
    margin-bottom: 19px;

    @media (min-width: $tablet-width) {
      font-size: 21px;
      margin-top: 87px;
      margin-right: 66px;
      margin-bottom: 54px;
      margin-left: 58px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 56px;
      margin-left: 78px;
    }
  }

  &__input {
    line-height: 26px;
    font-size: 18px;
    font-weight: bold;
    background-color: $concrete;
    border-style: none;
    padding-top: 19px;
    padding-bottom: 13px;

    &--name {
      width: 230px;
      padding-left: 20px;
      margin-left: 10px;

      @media (min-width: $tablet-width) {
        width: 216px;
        margin-left: 11px;
      }

      @media (min-width: $desktop-width) {
        width: 350px;
        margin-left: 9px;
      }
    }

    &--surname {
      width: 192px;
      padding-left: 21px;
      margin-left: 10px;
      letter-spacing: -1px;

      @media (min-width: $tablet-width) {
        width: 178px;
        margin-left: 12px;
      }

      @media (min-width: $desktop-width) {
        width: 312px;
        margin-left: 11px;
      }
    }

    &--patronymic {
      width: 194px;
      margin-left: 13px;
      padding-left: 20px;
      letter-spacing: -1.5px;

      @media (min-width: $tablet-width) {
        width: 180px;
        margin-left: 14px;
      }

      @media (min-width: $desktop-width) {
        width: 314px;
        margin-left: 13px;
      }
    }

    @include placeholder {
      font-size: 18px;
      color: $classic_black;
      font-weight: bold;
      text-transform: none;
    }
  }

  &__user-name {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
      margin-left: 57px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 80px;
    }
  }
}
