.form-contacts {
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    grid-area: fc;
  }

  @media (min-width: $desktop-width) {
    min-width: 960px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: $mercury;
    top: 5px;
  }

  &__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
    margin-top: 27px;
    text-align: center;
  }

  &__item {
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    margin-top: 15px;
    margin-bottom: 7px;
    margin-left: 23px;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: row;
    }
  }

  &__input {
    line-height: 26px;
    font-size: 14px;
    background-color: $concrete;
    border-style: none;
    width: 280px;
    padding-top: 20px;
    padding-bottom: 12px;
    padding-left: 21px;
    letter-spacing: -1.4px;

    @include placeholder {
      font-size: 18px;
      color: $classic_black;
      font-weight: bold;
      text-transform: none;
    }

    &--email {
      position: relative;

      &::before {
        content: " ";
        width: 58px;
        height: 58px;
        background-image: url("data:image/svg+xml,%3Csvg width='58' height='58' viewBox='0 0 58 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='58' height='58' fill='%23E6E6E6'/%3E%3Cpath d='M29 31C28.7 31 28.5 30.9 28 30.7L21 27V34C21 34.5 21.5 35 22 35H36C36.5 35 37 34.5 37 34V27L30 30.7C29.5 30.9 29.3 31 29 31ZM36 23H22C21.5 23 21 23.5 21 24V24.8L29 29L37 24.8V24C37 23.5 36.5 23 36 23Z' fill='black'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        right: 0;
      }
    }

    &--phone {
      position: relative;

      &::before {
        content: " ";
        width: 58px;
        height: 58px;
        background-image: url("data:image/svg+xml,%3Csvg width='58' height='58' viewBox='0 0 58 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='58' height='58' fill='%23E6E6E6'/%3E%3Cpath d='M24.6 27.8C26 30.6 28.4 32.9 31.2 34.4L33.4 32.2C33.7 31.9 34.1 31.8 34.4 32C35.5 32.4 36.7 32.6 38 32.6C38.6 32.6 39 33 39 33.6V37C39 37.6 38.6 38 38 38C28.6 38 21 30.4 21 21C21 20.4 21.4 20 22 20H25.5C26.1 20 26.5 20.4 26.5 21C26.5 22.2 26.7 23.4 27.1 24.6C27.2 24.9 27.1 25.3 26.9 25.6L24.6 27.8Z' fill='%23010101'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        right: 0;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__phone {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}
