.gallery {
  padding: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 1200px;
  }

  &__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    margin-top: 6px;

    @media (min-width: $tablet-width) {
      margin-top: 0;
      margin-left: 20px;
      padding-top: 15px;
    }
  }

  &__description {
    text-transform: none;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 14px;

    @media (min-width: $tablet-width) {
      margin-left: 21px;
    }
  }

  &__likes {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    margin-left: 37px;

    &::before {
      position: absolute;
      content: "";
      width: 25px;
      height: 23px;
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
      background-image: url("data:image/svg+xml,%3Csvg width='23' height='21' viewBox='0 0 23 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.3' d='M12.9636 3.78L12.3364 6.825L11.7091 9.45H14.3227H20.8045V11.55C20.8045 11.55 20.8045 11.55 20.8045 11.655L17.7727 18.9H8.36364V8.4L12.9636 3.78ZM2.09091 10.5V18.9V10.5ZM13.8 0L6.9 6.93C6.48182 7.245 6.27273 7.77 6.27273 8.4V18.9C6.27273 20.055 7.21364 21 8.36364 21H17.7727C18.6091 21 19.3409 20.475 19.6545 19.74L22.7909 12.285C22.8955 12.075 22.8955 11.76 22.8955 11.55V9.45H23C23 8.295 22.0591 7.35 20.9091 7.35H14.3227L15.3682 2.52V2.205C15.3682 1.785 15.1591 1.365 14.95 1.05L13.8 0ZM4.18182 8.4H0V21H4.18182V8.4Z' fill='black'/%3E%3C/svg%3E%0A");
      left: -39px;
      top: -6px;

      @media (min-width: $tablet-width) {
        left: -33px;
        top: -3px;
      }

      @media (min-width: $desktop-width) {
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='21' viewBox='0 0 23 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9636 3.78L12.3364 6.825L11.7091 9.45H14.3227H20.8045V11.55C20.8045 11.55 20.8045 11.55 20.8045 11.655L17.7727 18.9H8.36364V8.4L12.9636 3.78ZM2.09091 10.5V18.9V10.5ZM13.8 0L6.9 6.93C6.48182 7.245 6.27273 7.77 6.27273 8.4V18.9C6.27273 20.055 7.21364 21 8.36364 21H17.7727C18.6091 21 19.3409 20.475 19.6545 19.74L22.7909 12.285C22.8955 12.075 22.8955 11.76 22.8955 11.55V9.45H23C23 8.295 22.0591 7.35 20.9091 7.35H14.3227L15.3682 2.52V2.205C15.3682 1.785 15.1591 1.365 14.95 1.05L13.8 0ZM4.18182 8.4H0V21H4.18182V8.4Z' fill='white'/%3E%3C/svg%3E ");
      }
    }

    @media (min-width: $tablet-width) {
      margin-top: 29px;
      margin-right: 20px;
    }

    &--hundredths {
      margin-right: 29px;
    }

    &--tenths {
      margin-right: 36px;
    }
  }

  &__item {
    position: relative;

    @media (max-width: $mobile-width-only) {
      &::before {
        content: "";
        position: absolute;
        width: 320px;
        height: 1px;
        background-color: $line-form-tablet;
        top: -23px;
        left: -19px;
      }
    }

    @media (min-width: $tablet-width) {
      flex-basis: 50%;
    }

    @media (min-width: $desktop-width) {
      flex-basis: 33.33%;
    }

    &--first {
      @media (min-width: $tablet-width) {
        flex-basis: 100%;
      }

      @media (min-width: $desktop-width) {
        flex-basis: 100%;
      }
    }
  }

  &__inner {
    padding-bottom: 39px;

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
      background-color: $concrete;
      margin-top: -4px;
      padding-bottom: 3px;
    }

    @media (min-width: $desktop-width) {
      margin-top: -84px;
      background-color: $classic_black-opacity;
      color: $classic_white;
    }

    &--bg-color {
      @media (min-width: $tablet-width) {
        background-color: $photo-bg-color;
      }
    }
  }
}
